.my_bg-gray{
    background-color: #e5e5e5;
}

.my_bg-white{
    background-color: white;
}

.my_font-dark{
    color: #5b5858;
}

.my_font-white{
    color: white;
}



/* HEADER */

header{
    height: 60px;
    background-color: #f8f9fa;
}

header ul{
    width: 7%;
}

#logo-mobile{
    height: 45px;
}

.profile{
    color: #ff8f00;
}



/* ASIDE */

aside{
    width: 60px;
    height: calc(100vh - 60px);
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
}


/* SECTION TOP */

section.top{
    background-color: #1b72e8;
}






/* MAIN */

main{
    height: calc(100vh - 60px);
    width: calc(100vw - 60px);
}






/* MEDIA QUERIES */

@media screen and (min-width: 992px) {

    aside{
        width: 150px;
    }

    main{
        width: calc(100vw - 150px);
    }
}